html {
	background-color: #f9f9f9 ;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a#icon {
	display: block;
	text-align: center;
	margin-top: 32px;
	outline: none;
}

h1 {
	text-align: center;
	font-weight: 300;
	font-size: 24px;
	line-height: 1.5;
	letter-spacing: -0.5px;
	color: #333;
	margin-top: 19px;
}

div.auth {
	background-color: #fff;
	border: 1px solid #d8dee2;
	padding: 20px;
	font-size: 14px;
	width: 340px;
	margin: 0 auto;
	box-sizing: border-box;
}

a#forgot {
	float: right;
	text-decoration: none;
	color: #4078c0;
	box-sizing: border-box;
	display: block;
	margin-bottom: 7px;
	margin-top: 2px;
	width: 45%;
}

input {
	color: #999;
	display: block;
	width: 90%;
	min-height: 34px;
	padding: 6px 8px;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	vertical-align: middle;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: rigth 8px center;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: none;
	box-sizing: border-box;
	font: inherit;
	margin: 0;
	overflow: visible;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

input:focus {
	border-color: #51a7e8;
	outline: none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
}

input#submit {
	background-color: #6cc644;
	color: white;
	font-weight: bold;
}

div.new {
	text-align: center;
	border: 1px solid #d8dee2;
	border-radius: 5px;
	width: 340px;
	margin: 0 auto;
	margin-top: 20px;
}

a#create {
	color: #4078c0;
	text-decoration: none;
	font-size: 14;
}

p {
	font-size: 14;
	color: #333;
}

a.bottom {
	text-decoration: none;
}

a.bottom {
	color: #9b9b9b;
}

ul {
	list-style: none;
	color: #9b9b9b;
}

li {
	float: left;
}

li a {
	padding: 10px;
	font-size: 12px;
}

div.footer {
	width: 400px;
	margin: 80px auto;
	padding-bottom: 20px;
}